
/* ГЕРОЙ-СЕКЦИЯ */
.hero {
    height: 70vh;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 700;
}
