{% extends "core/base.html" %}
{% load static %}

{% block extra_style %}
  <link rel="stylesheet" href="{% static 'pages/css/homepage/main.css' %}" />
{% endblock %}

{% block main %}
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1>Найдите свою игровую компанию!</h1>
                <p>Присоединяйтесь к локальным встречам любителей настольных игр в вашем городе</p>
                <a href="{% url 'register' %}" class="btn">Присоединиться сейчас</a>
            </div>
        </div>
    </section>

{% endblock %}

