{% extends "core/base.html" %}
{% load static %}

{% block extra_style %}
  <link rel="stylesheet" href="{% static 'pages/css/homepage/main2.css' %}" />
{% endblock %}

{% block extra_scripts %}
  <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
  Страница #{{ current_page }}
{% endblock %}

{% block main %}

 <!-- Секция "Актуальность проекта" -->
 <section class="relevance" id="relevance">
    <div class="container">
        <h2>Добро пожаловать на сайт Dice&Date!</h2>
            <div class="relevance-text">
                <p>Этот сайт был создан с использованием высокоуровнего фреймворка Django </p>
                <p>Создание сайта Dice&Date поможет преодолеть одиночество и найти единомышленников по интересам в своём городе. Он позволяет организовывать встречи просто и безопасно.</p>
            </div>
    </div>
</section>



{% endblock %}