{% extends "core/base1.html" %}
{% load static %}

{% block extra_style %}
  <link rel="stylesheet" href="{% static 'dashboard/css/messages.css' %}" />
{% endblock %}

{% block main %}
<div class="form-container">
    <div class="form-content">

    {% if threads %}
        {% for thread in threads %}
        <div class="thread-item {% if thread.unread_count > 0 %}unread{% endif %}">
            <a href="{% url 'message_thread' thread.user.id %}" class="thread-link">
                <div class="thread-avatar">
                    {% if thread.user.profile.photo %}
                        <img src="{{ thread.user.profile.photo.url }}" alt="{{ thread.user.username }}">
                    {% else %}
                        <div class="default-avatar">{{ thread.user.username|first|upper }}</div>
                    {% endif %}
                    {% if thread.unread_count > 0 %}
                    <span class="unread-badge">{{ thread.unread_count }}</span>
                    {% endif %}
                </div>
                <div class="thread-info">
                    <h4>{{ thread.user.username }}</h4>
                    <p class="last-message">{{ thread.last_message.content|truncatechars:15 }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
{% endblock %}